*{
	margin: 0;
	padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* PARTE DE INCIO */
section {
	display: grid;
	place-content: center;
	height: 100vh;
	background: radial-gradient(circle, #052659, #021024);
}

.logo-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.title h1{
	font-size: 2rem;
	background-image: linear-gradient(to right, #7DA0CA, #052659);
	color: transparent;
	background-clip: text;
	filter: drop-shadow(0px 1px 1px #C1E8FF);
}

.title p {
	font-size: 1rem;
	font-weight: 600;
	color: #7DA0CA;
}

.boton_project {
	border: none;
	border: 1px solid #5483B3;
	padding: 8px 16px;
	font-weight: 700;
	border-radius: 8px;
	color: #5483B3;
	background-color: #021024;
}
.boton_project:hover {
	background-color: #052659;
	filter: drop-shadow(0px 0px 2px #C1E8FF);
	color: #C1E8FF;
}

/* MIS PROYECTOS */
.Proyectos {
	height: 100vh;
	background-color: #888B93;
	text-align: center;
}

.Proyectos h1 {
	color: #C1E8FF;
}
h1 span {
	color: #052659;
}

/* FOOTER */
footer {
	background: radial-gradient(circle, #052659, #021024);
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 0;
}

.footer-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.area_logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.svg-logo svg {
	width: 24px;
	margin-bottom: 13px;
}

.title_2 h1 {
	font-size: 1.6rem;
	color: #C1E8FF;
}
.title_2 p {
	font-size: 0.9rem;
	color: #C1E8FF;
}

.redes {
	display: flex;
	gap: 20px;
}
.redes img {
	width: 32px;
}

.derechos-autor {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	color: #5483B3;
}

/* RESPONSIVE */
/* Tablets */
/* @media (min-width: 768px) { 
	.logo_1 svg {
		width: 88px;
		height: 88px;
	}
	.title h1{
		font-size: 4rem;
	}
	.title p {
		font-size: 1.4rem;
	}
	.boton_project {
	padding: 16px 24px;
	font-weight: 800;
	}

	.footer-center {
		display: flex;
		flex-direction: row;
		padding: 0 20px;
	}
	.svg-logo svg {
		width: 48px;
		margin-bottom: 14px;
	}
	.title_2 h1 {
		font-size: 3rem;
	}
	.title_2 p {
		font-size: 1rem;
		font-weight: 600;
	}
} */

/* Laptops */ 
/* @media (max-width: 1024px) {

 } */

/* Desktops grandes */ 
/* @media (mas-width: 1280px) {
	
} */
